::selection {
	background-color:#F89406;
	color:#FFFFFF;
}
/*Header aspects*/
.identityheader {
	background-color:#153a6e;
	padding-top:10px;
	padding-bottom:15px;
	font-size:24px
}

#identityheaderborder {
	border-bottom: 5px solid #f89728;
}
#header-wrapper {
	padding: 20px 0 20px 0;
	height:auto;
}
#nursing-logo {
	position: relative;
	top:0;
	left:0;
	width: auto;
	height:auto;
	padding-bottom:15px;
}
#welcome-menu {
	position: relative;
	z-index:10;
}
#welcome-menu ul a {
	color:#ffffff;
	text-decoration:none;
	font-size:10px;
}
#welcome-menu ul a:hover {
	color:#F89728;
	text-decoration:underline;
}
#welcome-menu ul li#give-son {
	top:10px;
}
#welcome-menu ul li#give-son a {
	display:block;
	width:123px;
	height:22px;
	background-image: url(../img/givenow-sprite.png);
	position:relative;
	top:7px;
}
/* Slideshow CSS */
#slideshow-wrapper {
	position:relative;
	top:0;
	left:0
}
#slideshow-wrapper img {
	max-width:100%;
	height:auto;
}
.flex-control-nav .flex-control-paging {
	visibility:hidden;
}
/* ---------------- */

/* Miscellaneous CSS*/
#single-page {
	padding-bottom:140px;
	padding-top:50px;
}
#institution-title {
	position:relative;
	top:0;
	left:0;
	font-size:20px;
	font-weight:bold;
	color:#C67605;
}
#page-items h2 {
	color:#444444;
	line-height:30px;
}
#page-items p {
	color:#85919A;
	line-height:17px;
	font-size:12px;
}
.page-item-class {
	padding: 10px;
}
#single-page-teaser {
	/*text-shadow: 1px 1px 2px #333333;*/
	text-shadow: 0px 1px 1px rgba(0,0,0,0.25);
	-moz-box-shadow: inset 0px 0px 4px rgba(0,0,0,0.25);
   -webkit-box-shadow: inset 0px 0px 4px rgba(0,0,0,0.25);
   box-shadow: inset 0px 0px 4px rgba(0,0,0,0.25);
}
#single-page-teaser p {
	line-height:25px;
}
/* ---------------- */

/* Nav menu CSS */
#menu-background-holder {
	position:relative;
	top:-65px;
	left:0;
	width:100%;
	height:auto;
	background:#FFFFFF;
	box-shadow: 0 0 1px 0px #ffffff, 0 2px 0px 0px #FF7908, 0 5px 10px rgba(0, 0, 0, 0.25);
}
#menu-background-holder-single {
	position:relative;
	top:3px;
	left:0;
	width:100%;
	height:auto;
	background:#FFFFFF;
	box-shadow: 0 0 1px 0px #ffffff, 0 2px 0px 0px #FF7908, 0 5px 10px rgba(0, 0, 0, 0.25);
}
/* ------------ */

/* Tile Section CSS */
#title-filters {
	position:relative;
	top:0;
} 
#tile-wrapper {
	top:40px;
	padding-bottom:70px;
}
/*Footer CSS Styling*/
#footer-background-holder {
	position:relative;
	top:0;
	left:0;
	width:auto;
	height:auto;
	background-color:#002d62;
}
/* ---------------- */


.program-statistics {
	background: #556378;
color: #fff;
font-size: 14px;
font-weight: bold;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
text-shadow: none;
border: none;
padding: 11px 22px;
-webkit-font-smoothing: antialiased;
-webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.08);
-moz-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.08);
box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.08);
white-space: nowrap;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
width:150px;
height:150px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
font-size:60px;
}







#nursing-apps {
	position:absolute;
	top:90px;
	left:720px;
	width:215px;
	height:100px;
}
#calendar-title {
	position:relative;
	top:0;
	left:0;
	width:125px;
	height:21px;
	font-size:14px;
	font-weight:bold;
	color:#FFFFFF;
	background-color:#CE3C31;
	padding:5px;
}
#calendar-icon {
	position:relative;
	top:0;
	left:0;
	width:auto;
}
#calendar-app {
	position:relative;
	top:0;
	left:0;
	width:250px;
	height:100px;
}
#app-status{
	position:relative;
	top:0;
	left:0;
	width:100px;
	height:25px;
	font-size:20px;
	font-weight:bold;
	color:#CE3C31;
}
#app-go {
	position:relative;
	top:0;
	left:0;
	width:100px;
	height:20px;
	font-size:14px;
	font-weight:bold;
	color:#333333;
}
#calendar-tile {
	position:absolute;
	background-color:#34742D;
	top:0;
	left:0;
	width:250px;
	height:400px;
	-webkit-border-radius: 0px 0px 4px 4px;
	-moz-border-radius: 0px 0px 4px 4px;
	border-radius: 0px 0px 4px 4px;
	float: left;
	margin: 10px 0px 0px 10px;
	padding: 0px 0px 25px 0px;
	z-index: 0;
	box-shadow:0 0 1px 0px #AAA, 0 2px 0px 0px #999,0 5px 10px rgba(0, 0, 0, 0.25);
}

/*Menu Styling*/
#main-navigation {
	position:relative;
	width:100%;
	left:0;
	top:0;
	height:50px;
	z-index:10;
	background-color: #FFFFFF;
	/*box-shadow: 0 0 1px 0px #ffffff, 0 2px 0px 0px #FF7908, 0 5px 10px rgba(0, 0, 0, 0.25);*/
}
/*At a glance Styling--------------------------------------------*/
#son-glance {
	position:relative;
	top:0;
	left:0;
	width:100%;
	height:auto;
	background-color: #f4f4f4;
	box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.17);
	margin-bottom: -3px;
}
#glance-title {
	position:relative;
	top:0;
	left:10px;
	width:auto;
	height:auto;
	color:#555555;
	font-size:30px;
	font-weight: bold;
	line-height:35px;
}
#glance-descr{ 
	position:relative;
	top:0;
	left:10px;
	width:auto;
	height:auto;
	color:#888888;
	font-size:15px;
	font-weight: normal;
	padding-bottom:5px;
	}
	
#filter-holders {
	position:relative;
	top:20px;
	left:0;
	border-bottom:1px solid #DDDDDD;
	padding-bottom:10px;
}
.filter-labels {
	border-radius 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	display: inline-block;
	padding: 2px 4px;
	font-size: 11.844px;
	font-weight: bold;
	line-height: 14px;
	/*color: #fff;*/
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	white-space: nowrap;
	vertical-align: baseline;
}
.filter-labels .news-element {
	background-color:#FF7908;
}
.filter-labels .admissions-element {
	background-color:#112233;
}
.filter-labels .resources-element {
	background-color:#666666;
}
.filter-labels .social-element {
	color:#333333;
	background-color:#F4F4F4;
}
.filter-marker-news {
	width:7px;
	height:7px;
	background-color:#F89406;
	position:relative;
	float:left;
	top:12px;
}
.filter-marker-admissions {
	width:7px;
	height:7px;
	background-color:#F89406;
	position:relative;
	float:left;
	top:12px;
}
ul#filters {
	font-family:"Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
	font-size:10px;
	position:relative;
	top:10px;
	left:10px;
	width:auto;
	height:auto;
	margin: 0px;
	z-index:0;
	list-style:none;
}
ul#filters li {
	position:relative;
	float:left;
	top:0;
	left:0;
	width:auto;
	height:auto;
	font-size:12px;
	font-weight:bold;
	padding-right:6px;
	margin-bottom:6px;
}
ul#filters li.news-filter a {
	padding: 5px 5px 5px 5px;
	/*background-color:#FF7908;*/
	color:#FF7908;
	display:block;
	text-decoration:none;
}
ul#filters li.news-filter a:hover {
	text-decoration:underline;
}
ul#filters li.news-filter a:active {
	z-index: 0;
}
ul#filters li.admissions-filter a {
	padding: 5px 10px 5px 10px;
	color:#153a6e;
	display:block;
	text-decoration:none;
}
ul#filters li.admissions-filter a:hover {
	text-decoration:underline
}
ul#filters li.admissions-filter a:active {
	z-index: 0;
}
ul#filters li.social-media-filter a {
	padding: 5px 10px 5px 10px;
	color:#333333;
	display:block;
	text-decoration:none;
}
ul#filters li.social-media-filter a:active {
	z-index: 0;
}
ul#filters li.resources-element-filter a {
	padding: 5px 10px 5px 10px;
	color:#333;
	display:block;
	text-decoration:none;
}
ul#filters li.resources-element-filter a:active {
	z-index: 0;
}
ul#filters li.show-all a {
	padding: 5px 10px 5px 10px;
	color:#333333;
	display:block;
	text-decoration:none;
}
ul#filters li.show-all a:active {
	z-index: 0;
}
/*Isotope element styles are located here*/
#elements {
	position:relative;
	top:40px;
	left:0;
	width:960px;
	height:auto;
	padding-bottom:25px;
}
.isotope-elements img {
	max-width:100%;
	height:auto;
}
.isotope-elements {
	position: relative;
	-webkit-border-radius: 0px 0px 4px 4px;
	-moz-border-radius: 0px 0px 4px 4px;
	border-radius: 0px 0px 4px 4px;
	height: auto;
	overflow:hidden;
	display: block;
	float: left;
	font-family: 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
	left: 0px;
	margin: 10px 0px 0px 10px;
	padding: 0px 0px 25px 0px;
	top: 0px;
	z-index: 0;
	box-shadow:0 0 1px 0px #AAA, 0 2px 0px 0px #999,0 5px 10px rgba(0, 0, 0, 0.25);
	/*width:280px;*/
	width:220px;
	text-rendering: optimizeLegibility;
}
.news-element {
	background-color: #FF7908;
	color:#ffffff;
}
.admissions-element {
	background-color: #153a6e;
	color:#ffffff;
	font-size:11px;
}
.social-element {
	background-color: #EEEEEE;
	color:#333333;
	font-size:11px;
}
.resources-element {
	background-color: #333333;
	color:#FFFFFF;
	font-size:11px;
}
.card-picture-removethisforfinal1 {
	position:relative;
	top:0;
	left:0;
	width:300px;
	height:auto;
}
.card-picture-removethisforfinal2 {
	position:relative;
	top:0;
	left:0;
	width:500px;
	height:auto;
}
.element-title {
	position:relative;
	top:10px;
	left:0;
	width:auto;
	font-size:18px;
	font-weight:bold;
	padding: 0 10px 20px 10px;
	font-family: 'Droid Sans','Helvetica Neue', Arial sans-serif;
}
.element-text {
	position: relative;
	top:10px;
	left:0;
	width:auto;
	height:auto;
	font-size:12px;
	padding-left:10px;
	padding-right:10px;
	line-height: 14px;
}
.element-footer {
	position: relative;
	top:25px;
	left:0;
	width:100%;
	height:30px;
	background-color: rgba(255, 255, 255, .1);
}
.element-footer .light-color {
	position: relative;
	top:25px;
	left:0;
	width:100%;
	height:30px;
	background-color: rgba(0, 0, 0, .5);
}
.like-icon {
	position:absolute;
	top:7px;
	left: 50%;
	width:13px;
	height:13px;
	background-image:url(../img/pickbutton.png);
	background-position: 0 13px;
	background-size:cover;
}
.like-counter {
    position: absolute;
    top:5px;
    left:50%;
    margin-left:17px;
    width:auto;
    height:auto;
    font-family: 'Droid Sans','Helvetica Neue', Arial sans-serif;
    font-size:11px;
  }
#load-more-posts-btn {
	position:relative;
	top:0;
	left:50%;
	width:200px;
	height:50px;
}
#load-more-posts-btn a {
	position:relative;
	overflow:visible;
	top:0;
	left:0;
	padding:5px;
	background-color:#EEEEEE;
	color:#AAAAAA;
	text-decoration:none;
	font-size:11px;
}
#load-more-posts-btn a:hover {
	color:#999999;
	background-color:#D2D2D3;
}
#label-id {
	padding: 0 0 20px 0;
}

/*Secondary content of the nursing website*/
#son-secondary-content {
	position:relative;
	top:0;
	left:0;
	width:auto;
	height:auto;
	background-color: #ffffff;
	box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.17);
	overflow:hidden;
	padding-bottom:120px;
}
/*Footers styling*/
.thirdFooter {
	background: #FF7908;
	padding-bottom: 30px;
}
.container_12 {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}
.thirdFooterLogos {
	float: left;
	width: 160px;
	margin-left: 20px;
}
.thirdFooter p {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 7pt;
	color: #fff;
	padding-top: 10px;
	margin-bottom: 0;
}
.thirdFooter p a {
	text-decoration:none;
	color: #FFFFFF;
}
.thirdFooter p a:hover {
	text-decoration:underline;
}
.legalfooter {
	background-color: #212020;
    margin: 0 auto;
    max-width: 1000px;
	position:relative;
	min-height: 100%;
	z-index:1;
	text-align: left;
	padding:10px;
}

.legalfooter-width {
	background-color: #212020;
	min-height: 140px;
	position:relative;
	text-align:left;
	border-bottom: 5px solid #cfcfcf;
}
.subheader { line-height: 1.3; color: #6f6f6f; font-weight: 300; margin-bottom: 17px; }

/*Clearfix etc...*/
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

/*iPhone and mobile CSS*/
/*Portrait Mode*/
@media screen and (max-device-width: 480px){
	.isotope-elements {
		width:260px
	}
	.isotope-elements img {
		width:100%;
		height:auto;
	}
}
/*Portrait Mode
@media only screen and (max-device-width:900px ) {
  	.tile {
	width:250px;
	}
}
Landscape Mode
@media screen and (min-width: 481px), 
  screen and (max-width: 940px) {
  	.tile { 
	width:200px;
	}
}*/

ul#menu-graduate-programs .current-menu-item a:active { background-color:#08c; }

#map-canvas {
        margin: 0;
        padding: 0;
        height: 600px;
      }
#contact-information {
	position:relative;
	z-index: 500;
}
/*Finaid Styling*/
.finaid-containers {
	position:relative;
	top:0;
	left:0;
	height:auto
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.3);
	padding:40px;
}
.financialaid-block {
	background: #3E474F;
	color:#FFFFFF;
	background-image:url(../img/bg/studentadvising.jpg);
	background-size:cover;
}
.financialaid-block a {
	color:#FFFFFF;
}
.financialaid-block a:hover {
	color:#FFFFFF;
}
.scholarships-block {
	background: #2D5952;
	color:#FFFFFF;
	background-image: url(../img/bg/Grad-FairW.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}
.scholarships-block a {
	color:#FFFFFF;
}
.scholarships-block a:hover {
	color:#FFFFFF;
}
.spotlight-unit {
	height:560px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.spotlight-text {
	position:relative;
	top:40pt;
/*Student Affairs Stying*/
.sa-blocks {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:40px;
	webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.3);
}
.sa-staff {
	background-color: #FFFFFF;
	color:#333;
	padding:0;
}
.sa-importance {
	background-color: #F89406;
	color:#ffffff;
	background-image:url(../img/bg/texture.jpg);
}

/*Wordpress Overrride*/
/*Image alignment and Caption*/
 .wp-caption{background:#F5F5F5;line-height:18px;margin-bottom:20px;text-align:center;padding:4px;}
.wp-caption img{margin:5px 5px 0;}
.wp-caption p.wp-caption-text{color:#888;font-size:12px;margin:5px;}
.attachment img{max-width:620px;}
 .alignleft,#content img.alignleft{display:inline;float:left;margin-right:24px;margin-top:4px;}
 .alignright,#content img.alignright{display:inline;float:right;margin-left:24px;margin-top:4px;}
 .aligncenter,#content img.aligncenter{clear:both;display:block;margin-left:auto;margin-right:auto;}
 img.alignleft,#content img.alignright,#content img.aligncenter{margin-bottom:12px;}
 .attachment img {display: block;margin: 0 auto;}
