.slides_container {
	width:auto;
	height:auto;
}
.slides_container div {
	width:auto;
	height:auto;
	display:block;
}
#slideshow {
	box-shadow:0 0 1px 0px #AAA, 0 2px 0px 0px #999,0 5px 10px rgba(0, 0, 0, 0.25);
} 